<!DOCTYPE html>
<html lang="pl" ng-app="ProsecutorApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PROSECUTOR</title>

    <link rel="shortcut icon" href="src/img/favicon.ico" type="image/x-icon">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="src/style.css">
    <link rel="stylesheet" href="src/cookie-style.css">
    <link rel="stylesheet" href="src/intro.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="src/js/jq-handler.js"></script>
</head>

<body>



    <div class="wrapper">
        <!-- <h1>PROSECUTOR</h1> -->
        <!-- <img src="src/img/logo/logo-napis.JPG" class="nav-logo-name"> -->

        <nav class="logo">
            <!--<img src="src/img/sm-logo.JPG" alt="logo" id="nav-logo">-->
            <!-- <span class="nm" id="nm">PROSECUTOR</span> -->
            <!-- <img src="src/img/logo/logo-napis.JPG" class="nav-logo-name"> -->


            <ul class="menu">
                <li class="menu-item"><a href="#news">Aktualności</a></li>
                <li class="menu-item"><a href="#koncerty">Koncerty</a></li>
                <li class="menu-item"><a href="#history">Historia zespołu</a></li>
                <li class="menu-item"><a href="#sklad">Skład zespołu</a></li>
                <li class="menu-item"><a href="#galery">Galeria</a></li>
                <li class="menu-item"><a href="#music">Muzyka</a></li>
                <li class="menu-item"><a href="#shop">Sklep</a></li>
                <li class="menu-item"><a href="#contact">Kontakt</a></li>
            </ul>
        </nav>

        <div class="div-for-front-img">
            <img src="src/img/head/front.JPG" alt="PROSECUTOR">
        </div>

        <section id="home" class="home" ng-controller="HomeCtrl">



            <a href="#news">

                <div class="down">
                    <i class="fas fa-chevron-down fa-3x"></i>
                </div>
            </a>



        </section>




        <section id="news" class="news" ng-controller="NewsCtrl">
            <h1> {{ news.title }} </h1>


            <ul>
                <li ng-repeat="n in news.lista" ng-show="n.widoczne">

                    <div class="item-info" ng-if="n.typ == 'koncert'">
                        <b> {{ n.title }} </b> <span class="badge badge-danger"> {{ n.d }} </span>
                        <div> <a class="event-link" href="{{n.link}}"> LINK DO WYDARZENIA </a> </div>

                        <ul>
                            <li ng-repeat="img in n.img">
                                <img ng-src="src/img/events/{{img}}" alt="Description" />
                            </li>
                        </ul>

                    </div>

                    <div class="item-info" ng-if="n.typ == 'general'">
                        <b> {{ n.title }} </b>
                        <div ng-if="n.desc != ''">
                            {{ n.desc }}
                        </div>
                        <div ng-if="n.link != ''">
                            <a href="{{n.link}}">LINK</a>
                        </div>

                        <ul>
                            <li ng-repeat="img in n.img">
                                <img ng-src="src/img/events/{{img}}" alt="Description" />
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>


        </section>
        <section class="koncerty" id="koncerty" ng-controller="KoncertyCtrl">
            <h1>{{ koncerty.title }}</h1>
            <h3>{{koncerty.subTitle}}</h3>
            <ul>
                <li ng-repeat="k in koncerty.lista" ng-show="k.typ == 'koncert'">

                    <div class="koncert-item">
                        <b> {{ k.title }} </b> <span class="badge badge-danger"> {{ k.d }} </span>
                    </div>
                </li>
            </ul>
            <div><a href="koncerty.html">ARCHIWUM</a></div>
        </section>


        <section id="history" class="history" ng-controller="HistoriaCtrl">
            <h1>{{historia.title}}</h1>
            <div>
                {{historia.historia}}
            </div>

        </section>


        <section id="sklad" class="sklad container text-center">
            <h1>Skład zespołu</h1>

            <div class="row">

                <div class="col-sm-3">
                    <p class="text-center"><strong>Pepko</strong></p><br>
                    <a href="#pepe" data-toggle="collapse">
                <img src="src/img/sklad/pepe.jpg" class="img-circle person" alt="pepe" width="255" height="255">
                </a>

                </div>

                <div class="col-sm-3">
                    <p class="text-center"><strong>Dziadu</strong></p><br>
                    <a href="#dziadu" data-toggle="collapse">
                <img src="src/img/sklad/dziadu.JPG" class="img-circle person" alt="Dziadu" width="255" height="255">
                </a>

                </div>

                <div class="col-sm-3">
                    <p class="text-center"><strong>Harry</strong></p><br>
                    <a href="#harry" data-toggle="collapse">
                <img src="src/img/sklad/harry.JPG" class="img-circle person" alt="Harry" width="255" height="255">
                </a>

                </div>

                <div class="col-sm-3">
                    <p class="text-center"><strong>Forrest</strong></p><br>
                    <a href="#forrest" data-toggle="collapse">
                <img src="src/img/sklad/forrest.JPG" class="img-circle person" alt="Forrest" width="255" height="255">
                </a>

                </div>
            </div>

        </section>



        <section id="galery" class="galery">
            <h1>Galeria</h1>
            <div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action list-group-item-secondary">
                        <a href="gnew3.html">OBECNIE</a>
                    </li>
                    <li class="list-group-item list-group-item-action list-group-item-secondary">
                        <a href="gold3.html">DAWNO, DAWNO TEMU</a>
                    </li>
                </ul>
            </div>
        </section>



        <section id="music" class="music" ng-controller="MuzykaCtrl">
            <h1>Muzyka</h1>
            <div>
                <ul class="list-group">
                    <li ng-repeat="track in music.lista" class="list-group-item list-group-item-dark">
                        <a href="{{track.link}}">{{track.name}}</a>
                    </li>
                </ul>
            </div>
        </section>



        <section id="shop" class="shop" ng-controller="SklepCtrl">
            <h1>{{sklep.title}}</h1>
            <ul>
                <li ng-repeat="n in sklep.lista">

                    <div class="item-info">
                        <h3> {{ n.title }} </h3>
                        <div ng-if="n.desc != ''">
                            {{ n.desc }}
                        </div>
                        <div ng-if="n.link != ''">
                            <a href="{{n.link}}">LINK</a>
                        </div>

                        <ul>
                            <li ng-repeat="img in n.img">
                                <img ng-src="src/img/sklep/{{img}}" alt="Description" />
                            </li>
                        </ul>



                    </div>
                </li>
            </ul>
        </section>


        <section id="contact" class="contact" ng-controller="ContactCtrl">
            <h1>{{contact.title}}</h1>
            <ul>
                <li ng-repeat="c in contact.lista">

                    <div class="item-info">
                        <b> {{ c.title }} </b>
                        <div ng-if="n.desc != ''">
                            {{ c.desc }}
                        </div>
                        <div ng-if="n.link != ''">
                            <a href="{{c.link}}">LINK</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>



        <!-- ta sama logika jaka sie znajduje w cookies -->
        <!--
        <div id="black-bottom">
            <div>
            </div>
        </div>
        -->


        <div class="cookie-container" id="cookie-container">
            <h2 id="cookie-title">Strona używa plików cookies</h2>
            <p id="cookie-content">
                Ważne: W ramach naszej witryny stosujemy pliki cookies. Możecie dokonać w każdym czasie zmiany ustawień przy pomocy ustawień przeglądarki.
                <a id="link-do-cookies" href="cookies.html">Więcej informacji...</a>
                <button href="#" class="btn btn-danger btn-sm" id="zamknij-cookies-info"> Zamknij </button>
            </p>
        </div>

    </div>

    <div class="welcome-section content-hidden">
        <div class="content-wrap">
            <ul class="fly-in-text">
                <li>P</li>
                <li>R</li>
                <li>O</li>
                <li>S</li>
                <li>E</li>
                <li>C</li>
                <li>U</li>
                <li>T</li>
                <li>O</li>
                <li>R</li>
            </ul>

            <a href="#" class="enter-button">WEJŚCIE</a>
        </div>
    </div>


    <script src="src/js/NEWS.js"></script>
    <script src="src/js/SKLEP.js"></script>


    <script src="src/js/angular.js"></script>
    <script src="src/js/papp.js"></script>



</body>

</html>
