@font-face {
    font-family: pfont;
    src: url("fonts/palanquin-bold.ttf");
}


html {
    padding: 0px;
    margin: 0px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
}

body {
    font-family: pfont, Roboto, sans-serif;
    background-color: #141414;
    color: white;
    width: 90%;
}



.home {
    max-width: 80vw;
    min-height: 100vh;
}

.home h1 {
    font-size: 7em;
    max-width: 90vw;
}



#nm {
    font-size: 3em;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 20px;

}


#cookie-container {
    width: 80vw;
    left: 10vw;

}


.down {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: animate 2s linear infinite;
    animation: animate 2s linear infinite;
    color: white;
    text-decoration: none;
}


@-webkit-keyframes animate {
    0% {
        top: 50%;
    }

}


@keyframes animate {
    0% {
        top: 50%;
    }
}






nav {

    background: #141414;
    background: -webkit-gradient(linear, left top, left bottom, from(#141414), color-stop(24%, #141414), to(#400000));
    background: linear-gradient(to bottom, #141414 0%, #141414 24%, #400000 100%);
    opacity: .95;
    -webkit-box-shadow: 0px 0px 120px 40px #400000;
    box-shadow: 0px 0px 120px 40px #400000;
    z-index: 111;

}




@media (min-width: 1201px) {
    nav {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100px;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: .5s;
        transition: .5s;
    }



    nav.some-opacity {
        opacity: 0.4;
        height: 100px;
        padding: 10px;

    }



    #nav-logo {
        display: block;
        height: 90px;
        padding: 6px;
        -webkit-transition: .5s;
        transition: .5s;
    }


    nav ul {
        list-style: none;
        float: right;
        margin: 0px;
        padding: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }

    nav ul li {
        list-style: none;
    }

    nav ul li a {
        line-height: 0px;
        color: white;
        padding: 2px 20px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: .5s;
        transition: .5s;

    }

    nav.some-opacity ul li a {
        opacity: 0.4;
        color: dimgray;
    }




    nav ul li a:focus {
        outline: none;
    }


    nav ul li a:hover {
        outline: none;
        color: lightgray;
    }

    nav #nav-logo {
        border-radius: 10px;
        opacity: 0.6;
    }








}

@media (max-width: 1200px) {
    nav {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100px;
        font-size: 70%;
        padding: 2px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: .5s;
        transition: .5s;
    }

    nav.some-opacity {
        opacity: 0.4;
        height: 20px;
        padding: 2px;
    }



    #nav-logo {
        display: block;
        height: 60px;
        padding: 1px;
        -webkit-transition: .5s;
        transition: .5s;
    }


    nav ul {
        list-style: none;
        float: right;
        margin: 0px;
        padding: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

    }

    nav ul li {
        list-style: none;
    }

    nav ul li a {
        line-height: 0px;
        color: white;
        padding: 1px 4px;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: .5s;
        transition: .5s;

    }

    nav.some-opacity ul li a {
        opacity: 0.4;
        color: dimgray;
    }




    nav ul li a:focus {
        outline: none;
    }


    nav ul li a:hover {
        outline: none;
        color: lightgray;
    }
}


@media (max-width: 650px) {
    nav {
        visibility: hidden;
    }

    .home h1 {
        font-size: 2em;
        width: 90vw;
    }

    .home h3 {
        font-size: 1em;
        width: 90vw;
    }
}





section {
    background-color: #141414;
    padding-top: 170px;
    margin-left: 10px;
    margin-right: 10px;
}





.news {
    z-index: 100;

}

.news .item-info {
    padding: 2em;
    border-radius: 17px;
    border: 1px solid gray;
    padding: 10px;
    margin: 14px;
}

.news .item-info b,
.news .item-info span {
    font-size: 2em;

}


.news .item-info div {
    font-size: 1.4em;
}

.news .item-info img {
    width: 70vw;
    border-radius: 27px;
    padding: 2px;
    -webkit-box-shadow: inset 10px -47px 116px 17px rgba(207, 39, 39, 1);
    box-shadow: inset 10px -47px 116px 17px rgba(207, 39, 39, 1);

}

.news ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.shop ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.shop img {
    max-width: 60vw;
    border-radius: 2em;
    padding: 2px;
    -webkit-box-shadow: inset 10px -47px 116px 17px rgba(207, 39, 39, 1);
    box-shadow: inset 10px -47px 116px 17px rgba(207, 39, 39, 1);
}

#nav-logo-name {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 90px;
    border-radius: 8px;
    opacity: 1.0;
    z-index: 200;
}
